# Node modules
node_modules
npm-debug.log
yarn-error.log

# Next.js build output
.next
out

# OS files
.DS_Store
Thumbs.db

# Environment files
.env.local
.env.development
.env.test
.env.production

# Log files
*.log

# TypeScript build output (if using TypeScript)
*.tsbuildinfo

# Editor and IDE files
.vscode
.idea

# Dockerfile and docker-compose files (optional, if you don't want them in the image)
Dockerfile
docker-compose.yml
